
@model List<SmartBox>

<body onload="cerca()">
    <section class="text-center">
        <div class="container">
            <input class="js-search" type="text" placeholder="Cerca la Smartbox" />
            <div class="row">
            </div>
        </div>
    </section>
</body>


<script type="text/javascript">
    const cardBox = document.querySelector(".row");
    const BoxSearch = document.querySelector(".js-search")
    let lista;

    BoxSearch.addEventListener("keyup", cerca)

    function cerca() {
        axios.get("/api/smartbox/get", {
            params: {
                Name: BoxSearch.value
            }
        })
            .then(function (response) {
                console.log(response);
                lista = response.data; //valori api
                if (lista.length) {
                    cardBox.innerHTML = ""
                    lista.forEach(smartbox => {
                        
                        cardBox.innerHTML +=

                            `<div class="col-4 py-2" >
                                <a class="text-decoration-none text-danger card" href="smartbox/Detail/${smartbox.Id}" >
                                    <div class="card bg-dark bg-gradient text-white border-2 rounded-lg" >
                                        <img class="img-fluid" src = "${smartbox.image}" alt = "${smartbox.image}" />
                                        <h3 class="py-1" > ${smartbox.name}</h3>
                                        <span class="py-1" > Prezzo: ${smartbox.price}$ </span>
                                        <p class="px-2" > Descrizione: <small>${smartbox.description}</small></p >
                                    </div>
                                </a>
                            </div>`
                    })
                } else {
                    cardBox.innerHTML = "<h1>non ci sono SmartBox</h1>"
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }</script>