@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto nel sito Ufficiale Smartbox®</h1>
    <p>
        I prodotti fisici Smartbox si presentano sotto forma di una brochure che ti permetterà di scoprire l’ampia gamma di esperienze offerte da Smartbox. Consulta la lista completa delle esperienze e scegli la tua preferita sull’App Smartbox o su smartbox.com
        *Condizioni dettagliate su smartbox.com
        **Indagine condotta a luglio 2020
        ***Ad eccezione dei prodotti con validità specifica. Per maggiori dettagli consulta smartbox.com

        Il metodo di pagamento Limonetik (Business Pass) è valido su nuovi acquisti, ma non permette di usufruire di codici promozionali. I codici promozionali sono validi solo su nuovi acquisti e non su cambi prodotto.
        Nessuna promozione attiva sul sito Smartbox (in particolare, ma non a titolo esaustivo, codici sconto, cofanetto regalo gratuito da aggiungere al carrello, prodotti con prezzo barrato) è cumulabile con altre promozioni, codici sconto o credito Smartbox.
        Inoltre, qualsiasi promozione attiva sul sito Smartbox (in particolare, ma non a titolo esaustivo, codici sconto, cofanetto regalo gratuito da aggiungere al carrello, prodotti con prezzo barrato) è applicabile solo ai nuovi ordini con esclusione dei prodotti ottenuti a seguito di cambi o credito Smartbox.

    </p>
</div>
