@{
    Layout = null;
}

@model webapp_travel_agency.Models

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<main>

</main>

<footer>

</footer>